<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWZsi4h9C3eT9hlLsl_ri-zIDm9qxErek</string>
	<key>GCM_SENDER_ID</key>
	<string>586922043846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cognitiveroulletegame</string>
	<key>PROJECT_ID</key>
	<string>esp32colores</string>
	<key>STORAGE_BUCKET</key>
	<string>esp32colores.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586922043846:ios:2f649a29222fb8601a6ac7</string>
	<key>DATABASE_URL</key>
	<string>https://esp32colores-default-rtdb.firebaseio.com</string>
</dict>
</plist>